.container {
  display: flex;
  height: 100%;
  width: 100%;
}

app-unit {
  background: #dee4ff;
  flex: 6;
}

.reading-container {
  display: flex;
  flex-direction: column;
  flex: 25;
  padding: 10px;
  gap: 10px;
}

.text-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  gap: 10px;
}

.text-container textarea {
  flex: 1;
  font-size: 16px;
  resize: none;
  border-radius: 10px;
  padding: 10px;
}

.quest-list-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 5px;
  overflow-y: auto;
  gap: 5px;
}

.quest-item-container {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  padding: 5px;
}

.quest-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  padding-left: 10px;
}


.reading-container-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
}

.reading-container-buttons button {
  flex: 1;
  border-radius: 5px;
  height: 30px;
  background: #ededed;
}

.reading-container-buttons button:hover {
  background-color: #d5d1d1;
}


.answer-correct {
  background-color: lightgreen; /* Doğru cevap için yeşil */
  color: white;
  font-weight: bold;
}

.answer-wrong {
  background-color: lightcoral; /* Yanlış cevap için kırmızı */
  color: white;
  font-weight: bold;
}
