.container {
  display: flex;
  height: 100%; /* Tüm ekran yüksekliği kadar alan kaplasın */
  width: 100%;
}

app-unit {
  background: #7886C7;
  flex: 6;
}

.reading-container {
  display: flex;
  flex-direction: column;
  flex: 25;
  padding: 10px;
  gap: 10px;
}

.text-container{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  gap: 10px;
}

.text-container textarea {
  flex: 1;
  font-size: 16px;
  resize: none;
  border-radius: 10px;
  //padding: 10px;
  //margin: 10px;
}

.quest-container {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  //margin: 10px;
  //padding: 10px;
  flex-grow: 1;
  overflow-y: auto;         /* C'nin içeriği büyüdükçe dikey kaydırma çubuğu ekle */
}



.reading-container-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  border-radius: 5px;
  //margin: 1px 10px 1px 10px;
}

.reading-container-buttons button {
  flex: 1;
  border-radius: 5px;
  height: 30px;
  background: #ededed;
}

.reading-container-buttons button:hover {
  background-color: #d5d1d1;
}
