<div class="container">

  <div class="reading-container">
    <div class="text-container">
      <textarea readonly [(ngModel)]="inputText" placeholder="" class="input-textarea"></textarea>
      <div class="reading-container-buttons">
        <button (click)="checkReading()">Check Reading</button>
        <button *ngIf="isQuestsOpen == false" (click)="openQuests()">Open Quests</button>
        <button *ngIf="isQuestsOpen == true" (click)="closeQuests()">Close Quests</button>
        <button (click)="updateText()">Process</button>
        <button (click)="deleteText()" >Close</button>
      </div>
    </div>

    <div class="quest-container" *ngIf="isQuestsOpen == true && text_detail !== null && text_detail.quests.length > 0">
      <div *ngFor="let quest of text_detail.quests">
        <p>{{ quest.quest }}</p>
        <form>
          <label>
            <input type="radio" name="option" value="option1">
            {{quest.option_a}}
          </label><br>
          <label>
            <input type="radio" name="option" value="option2">
            {{quest.option_b}}
          </label><br>
          <label>
            <input type="radio" name="option" value="option3">
            {{quest.option_c}}
          </label><br>
          <label>
            <input type="radio" name="option" value="option4">
            {{quest.option_d}}
          </label>
        </form>
      </div>
    </div>

  </div>

  <app-unit
    (getTextDetail)="getTextDetail($event)"
  ></app-unit>

</div>

<!--<div class="reading-container">-->
<!--  <div class="text-container">-->
<!--    &lt;!&ndash;      <textarea [(ngModel)]="inputText" placeholder="" class="input-textarea"></textarea>&ndash;&gt;-->
<!--    &lt;!&ndash;      <div class="reading-container-buttons">&ndash;&gt;-->
<!--    &lt;!&ndash;        <button class="submit-btn" (click)="updateText()">Process</button>&ndash;&gt;-->
<!--    &lt;!&ndash;        <button class="submit-btn">Check Reading</button>&ndash;&gt;-->
<!--    &lt;!&ndash;        <button class="submit-btn" (click)="deleteText()" >Clear</button>&ndash;&gt;-->
<!--    &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    <p>b1</p>-->
<!--    <p>b2</p>-->
<!--    <p>b3</p>-->
<!--    <p>b4</p>-->
<!--    <p>b5</p>-->
<!--    <p>b6</p>-->
<!--    <p>b7</p>-->
<!--    <p>b8</p>-->
<!--  </div>-->

<!--  <div class="quest-container" *ngIf="text !== null && text.quests.length > 0">-->
<!--    <div *ngFor="let quest of text.quests">-->
<!--      <p>{{ quest.quest }}</p>-->
<!--      <form>-->
<!--        <label>-->
<!--          <input type="radio" name="option" value="option1">-->
<!--          {{quest.option_a}}-->
<!--        </label><br>-->
<!--        <label>-->
<!--          <input type="radio" name="option" value="option2">-->
<!--          {{quest.option_b}}-->
<!--        </label><br>-->
<!--        <label>-->
<!--          <input type="radio" name="option" value="option3">-->
<!--          {{quest.option_c}}-->
<!--        </label><br>-->
<!--        <label>-->
<!--          <input type="radio" name="option" value="option4">-->
<!--          {{quest.option_d}}-->
<!--        </label>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->
