.a {
  display: flex;            /* Flexbox düzeni */
  flex-direction: column;      /* Çocukları yatayda yerleştir */
  height: 100%;            /* A'nın yüksekliği sabit */
  background: white;
}


.b {
  display: flex; /* Flexbox düzeni */
  flex-direction: column; /* Çocukları yatayda yerleştir */
  flex: 1;
  padding: 10px; /* Her iki div için padding */
  background: yellow;
  //overflow-y: auto;
}

.c {
  display: flex;            /* Flexbox düzeni */
  flex-direction: column;      /* Çocukları yatayda yerleştir */
  flex: 1;
  padding: 10px;            /* Her iki div için padding */
  overflow-y: auto;         /* C'nin içeriği büyüdükçe dikey kaydırma çubuğu ekle */
  //max-height: 100%;         /* C'nin yüksekliği, A'nın yüksekliğini aşmamalı */
  background: #bc1515;
}

