.base-container {
  display: flex;
  flex-direction: column;
  //grid-template-rows: 1fr 10fr 1fr;
  height: 100%;
  width: 100%;
}


.base-header-container, .base-footer-container {
  background-color: #333;
  height: 8%;
  width: 100%;
  align-items: stretch; /* Yükseklik tamamen doldurulacak */
}

.base-rooter-container {
  background: antiquewhite;
  height: 84%;
  width: 100%;
}
