<div class="text-create-container form-input-font">
  <div class="title-container">
    <label>Title:</label>
    <input id="title" type="text" [(ngModel)]="createText.title" name="title" required placeholder="Enter a title">
  </div>

  <div class="context-container">
    <label for="context">Context:</label>
    <textarea id="context" [(ngModel)]="createText.context" name="context" required placeholder="Enter context..."></textarea>
  </div>
  <div class="buttons-div">
    <button type="reset" (click)="cancelCreateNewText()">Back</button>
    <button type="submit" (click)="createNewText()">Create</button>
  </div>

</div>
