.base-grid {
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-template-columns: 1fr 6fr;
  height: 100vh;
  width: 100vw;
}

.admin-header-div, .admin-left-side-div, .logo-div {
  background: #101010;
}

.admin-rooter-div {
  background: #444444;
  overflow: hidden;
}

.logo-div {
  display: flex;                  /* Flexbox düzeni başlat */
  justify-content: center; /* Öğeleri yatayda sola ve sağa yasla */
  align-items: center;            /* Öğeleri dikeyde ortala */
  height: 100%;
  color: white;
  font-size: 20px;
}
