<div class="text-container">

    <div class="left-and-right-container">

      <div class="left-container" *ngIf="!is_updating_text">
        <label class="unit-name"> {{ text_detail.unit_name }} </label>
        <label class="text-title"> {{ text_detail.title }} </label>
        <textarea>{{text_detail.context}}</textarea>
        <div class="buttons-container">
          <button (click)="updateText()">Update</button>
        </div>
      </div>

      <form #updateTextForm="ngForm" class="left-container" *ngIf="is_updating_text">

        <label class="unit-name"> {{ text_detail.unit_name }} </label>

        <input type="text" id="title" name="title" class="form-control" required maxlength="70" [pattern]="titlePattern"
               [(ngModel)]="update_text.title" placeholder="{{ text_detail.title }}" #title="ngModel">
        <div *ngIf="title.invalid" class="alert">
          <div *ngIf="title.errors?.['required']">Title is required.</div>
          <div *ngIf="title.errors?.['maxlength']">Title can be max 70 characters.</div>
          <div *ngIf="title.errors?.['pattern']">Title can not be blank</div>
        </div>

        <textarea type="text" id="context" name="context" class="form-control" required appMinTextLength="100"
                  [(ngModel)]="update_text.context" placeholder="{{ text_detail.context }}" #context="ngModel"></textarea>
        <div *ngIf="context.invalid" class="alert">
          <div *ngIf="context.errors?.['required']">Context is required.</div>
          <div *ngIf="context.errors?.['minTextLength']">Context must be at least 100 characters long without blank spaces.</div>
        </div>

        <div class="buttons-container">
          <button type="button" (click)="cancelUpdateText()">Cancel</button>
          <button type="submit" (click)="saveUpdateText()" [disabled]="updateTextForm.invalid">Save</button>
        </div>

      </form>

      <div class="right-container">
        <div class="quest-container">
          <ul>
            <li *ngFor="let quest of text_detail.quests">
              <strong>{{ quest.quest }}</strong>
              <ul>
                <li>A) {{ quest.option_a }}</li>
                <li>B) {{ quest.option_b }}</li>
                <li>C) {{ quest.option_c }}</li>
                <li>D) {{ quest.option_d }}</li>
              </ul>
              <p><strong>Correct Answer:</strong> {{ quest.correct_option }}</p>
              <p><strong>Justification:</strong> {{ quest.justification }}</p>
            </li>
          </ul>
        </div>
        <div class="buttons-container">
          <button (click)="closeText()">Add Quest</button>
        </div>
      </div>

    </div>

    <div class="buttons-container">
      <button (click)="closeText()">Back</button>
    </div>

</div>
