.text-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  width: 100%;
  height: calc(100% - 20px);
  background-color: #f8f9fa;
  border-radius: 10px;
}

.left-and-right-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: calc(100% - 50px);
}

.left-container textarea {
  resize: none;
  flex-grow: 1;
  border-radius: 10px;
  padding: 10px;
  font-size: 16px;
  border-style: none;
}

.left-container,
.right-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 10px;
}

.quest-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: white;
  border-radius: 10px;
  overflow-y: auto;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  height: 40px;
}

.buttons-container button {
  flex: 1;
  border-radius: 5px;
  padding: 10px;
}

.buttons-container button:hover {
  background-color: #9c9898;
}

.alert {
  color: red;
}


