<div class="center-div">

  <div class="listing-units" *ngIf="isListingUnits">

    <div class="listing-bar">
      <input type="text" placeholder="Unit name starts..." [(ngModel)]="unitStart" (keyup)="filterUnitsWithUnitNameAndTitle()">
      <input type="text" placeholder="Title starts..." [(ngModel)]="titleStart" (keyup)="filterUnitsWithUnitNameAndTitle()">
      <button (click)="openFormCreatingUnit()">Create New</button>
    </div>

    <div class="listing-list" cdkDropListGroup>
      <ul class="unit-list">
        <li *ngFor="let unit of filtered_units; let i = index" class="unit-item">
          <div class="unit-header">
            <h2 class="unit-name">{{ unit.name }}</h2>
            <div class="unit-buttons">
              <button class="unit-button" (click)="createText(unit)">Add-Text</button>
<!--              <button class="unit-button" (click)="getTextDetail(unit)">Detail</button>-->
              <button class="unit-button" (click)="deleteUnit(unit)">Delete</button>
              <button *ngIf="unit.show_titles" class="unit-button" (click)="closeTitles(unit, i)">&uarr;</button>
              <button *ngIf="!unit.show_titles" class="unit-button" (click)="openTitles(unit, i)">&darr;</button>
            </div>
          </div>

          <ul *ngIf="unit.show_titles" class="title-list" cdkDropList [cdkDropListData]="unit.titles"
              (cdkDropListDropped)="drop($event, unit)">
            <li *ngFor="let title of unit.titles" class="title-item" cdkDrag>
              <span>{{ title.name }}</span>
              <div class="unit-buttons">
                <button class="unit-button" (click)="getTextDetail(title, unit)">Detail</button>
                <button class="unit-button" (click)="deleteText(title)">Delete</button>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>

  </div>

  <app-unit-create *ngIf="isCreatingUnit" class="child-app"
                   (back)="listUnits()"
                   (continueCreate)="createText($event)"
  ></app-unit-create>

  <app-text-create *ngIf="isCreatingText" class="child-app"
                   [unit]="selected_unit"
                   (back)="listUnits()"
                   (continueCreate)="stopCreating($event)"
  ></app-text-create>

  <app-text *ngIf="isTextDetail" class="child-app"
            [text_detail]="text_detail"
            [unit_id]="selected_unit.id"
            (back)="listUnits()"
  ></app-text>

</div>


