.center-div {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
  height: 100%;
  width: 100%;
}

.child-app {
  //display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;
  width: 100%;   /* Genişliği tamamen kapla */
  height: 100%;  /* Yüksekliği tamamen kapla */
}

.listing-units {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Arama formu */
.listing-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-radius: 8px;
}

.listing-bar input {
  flex: 1;
  padding: 8px 8px;
  border-radius: 5px;
  font-size: 14px;
  //border: 1px solid #ced4da;
}

/* Kapsayıcı */
.listing-list {
  flex: 1;
  padding: 5px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}

/* Liste */
.unit-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Unit öğesi */
.unit-item {
  background-color: #fff;
  border: 1px solid #ddd;
  margin: 5px 0;
  border-radius: 8px;
  padding: 10px;
}

/* Unit başlık ve butonlar */
.unit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unit-name {
  font-size: 24px;
  color: #007bff;
  font-weight: bold;
}

.unit-buttons button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-left: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.unit-buttons button:hover {
  background-color: #0056b3;
}

/* Title listesi */
.title-list {
  list-style: none;
  padding: 0;
  //margin-left: 20px;
}

.title-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-item {
  background-color: #f1f3f5;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}


//input[type="text"] {
//  width: 100%;
//  max-width: 250px;
//  padding: 8px 12px;
//  border-radius: 5px;
//  border: 1px solid #ced4da;
//}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

///* Mobil uyumlu düzenleme */
//@media (max-width: 768px) {
//  .listing-bar {
//    flex-direction: column;
//  }
//
//  input[type="text"], button {
//    width: 100%;
//    margin-top: 10px;
//  }
//}




